<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="TestNg suite" verbose="1" thread-count="1" parallel="classes">
    <parameter name="baseUrl" value="https://www.jango.com/"></parameter>
    <test name="example" >
        <classes>
            <class name="MainPageTest"/>
            <class name="NavigationTest"/>
            <class name="PlayAlbumTest"/>
            <class name="SearchTest"/>
        </classes>
    </test>
</suite>
